*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	min-height: 100vh;
}
.navbar{
	display: flex;
	justify-content: space-between;
	height: 80px;
	background-color: rgba(58, 86, 118, 0.56);
	padding: 30px;
}
.link{
	padding: 0px 10px;
}
.li{
	padding: 8px;
	background-color: rgba(127, 255, 212, 0.43);
	border-radius: 15px;
	text-decoration: none;
	color: black;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	margin-left: 10px;
}
.btn{
	margin-left: 10px;
	padding: 7px;
	background-color: transparent;
	border-radius: 15px;
	border: none;
	margin-top: -10px;
	cursor: pointer;
	color: black;
	border: 1px solid black;
}
.main{
	height: 1000px;
	width: 100%;
	background-color: aqua;
	display: flex;
	justify-content: center;
}
.hero{
	height: 400px;
	width: 100%;
	background-color: rgb(220, 223, 245);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 10px;
}
.texto{
	margin-top: 10px;
	
}
.bn{
	background-color: bisque;
	padding: 10px;
	border: none;
	border-radius: 10px;
	margin-top: 10px;
}